<!DOCTYPE html>
<html lang="en">

<head>
    <title>City Residents App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }

        h1 {
            color: #007bff;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Welcome to City Residents App</h1>
        <p>Choose an option:</p>
        <ul>
            <li><a href="{% url 'city_residents_app:city_list' %}">City List</a></li>
            <li><a href="{% url 'city_residents_app:person_list' %}">Person List</a></li>
            <li><a href="{% url 'city_residents_app:list_cities_and_users' %}">Person City List</a></li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>